
@font-face {
    font-family: 'SGB';
    src: url(fonts/SportingGrotesque-Bold.otf);
}

@font-face {
    font-family: 'SGR';
    src: url(fonts/SportingGrotesque-Regular.otf);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family:'Karla', sans-serif;
  font-size:1.2vw;

}

header {
	position: fixed;
	top:0;
	width:100%;
	background-color:#fff;
}

::selection{
	background-color:#000;
	color:#fff;
}



#blackandwhite{
	position:fixed;
	top:18px;
	right:0px;
	width:6%;
}

#blackandwhite a{
text-decoration: none;
color:#000;
font-family:'SGR',sans-serif;
}

#blackandwhite a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}

#mobile-bw {
	display:none;
}

.desktop-nav {
	display: block;
}

.mobile-nav {
	display: none;
}

.nav {
color: #000;
list-style: none;
text-decoration: none;
padding: 0;
margin: 0;
border-bottom: 1.5px solid #000;
overflow:hidden;
/*position: fixed;*/
top:0;
width:100%;
/*background-color: #fff;*/
}

.nav li {
	display: inline;
	color: #000;
	font-family: 'SGR', sans-serif;
	font-size:1.5vw;
}

.nav a {
	display:inline-block;
	text-decoration: none;
	color: #000;
	font-family: 'SGR', sans-serif;
	font-size:1.2vw;
	padding: 18px 0px 15px 2%;
}

.nav a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}
 

.nav .current {
	 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
} 
/*.nav a.active {
  background-color: #000;
  color: #000;
  cursor: default;
}*/

/*.nav a::after {
	display:block;
	content:attr(title);
	font-family:'SGB', sans-serif;
	height:0;
	overflow: hidden;
	visibility: hidden;
}*/

.container {
	display:flex;
	margin-top:4%;
}

.box1 {
	flex:1;
	order:1;
	
}

img {
	max-width:100%;
}

.box2 {
	flex:1;
	order:2;
	font-family: 'SGR', sans-serif;
	color: #000;
	z-index:-1;

}

.box3 {
	flex:1;
	order:1;
	border-right: 2px solid #000;
	height: 95vh;
	
}

.box4 {
	flex:1;
	order:2;
	font-family: 'SGR', sans-serif;
	color: #000;

}

.intro {
	font-size:2.5vw;
	position: relative;
	 top: 50%;
	 transform: translateY(-50%);
	 padding:6%;
}

.social {
	margin-top:15%;
	font-size:1.3vw;
	font-family: 'Karla', sans-serif;
	line-height: 1.7;
}

.social a {
	text-decoration: none;
	color: #000;
}

.social a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
} 

.quote {
	font-family: 'SGR', sans-serif;
	font-size:2.5vw;
	line-height: 1.2;
	padding-right:15%;

}

.bio {
	color:#000;
   line-height: 1.5;
   padding:5% 5% 5% 2%;
   margin-top:3%;
}

.bio-body {
	padding-right:0%;
	column-count:2;
	column-gap:4%;
}

.title { font-family: 'SGR', sans-serif;
	font-size:1.5vw;
	color:#000;}

.subtitle {
	font-family: 'SGR', sans-serif;
	font-size:1.2vw;
	color:#000;
}

.press {
	margin-top:3%;
	padding-left: 2%;
	line-height:1.5;
}

.press a {
	text-decoration: none;
	color: #000;
}

.press a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}

.disco {
	line-height:1.5;
	color: #000;
   padding:5% 20% 5% 2%;
   margin-top:3%;
}

.disco a {
	text-decoration: none;
	color: #000;
}

.disco a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}

.work {
   padding: 5% 6% 0 4%;
	line-height:1.5;
	color:#000;
}

.work a {
	text-decoration: none;
	color: #000;
}

.work a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}

.radio {
   padding: 5% 6% 0 6%;
	line-height:1.5;
	color:#000;
	font-family:'Karla', sans-serif;
}

.radio a {
	text-decoration: none;
	color: #000;
}

.radio a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}

.bullet {
	display: none;
}


/*------TABLET-------*/
@media screen and (max-width: 1023px) {


/*body {
	font-size:5vw;
}*/

.desktop-nav {
	display: none;
}

.mobile-nav {
	display: block;
	padding-bottom: 15%;
}

.mobilehome {

}

.container {
	display:flex;
	margin-top:15%;
	flex-direction:column;
	font-size:5vw;
}

img {
	height:100vw;
}

.box3 {
	border-right: none;
	height:100%;
	
}

.box4 {
	/*margin-top:30%;*/
}

.intro {
padding:6%;
font-size:6vw;
transform: none;
z-index: -100;
}

.social {
	margin-top:15%;
	font-size:4.5vw;
	font-family: 'Karla', sans-serif;
	padding-right:10%;
	line-height:2;
}

.overlay-social {
font-size:4vw;
font-family: 'Karla', sans-serif;
line-height:2;
color: #000;
margin-top:5%;
}

.overlay-social a {
	text-decoration: none;
	color: #000;
}

.overlay-social a:hover {
 text-shadow: 0 0 5px #ccc, 0 0 50px #000, 0 0 10px #999;
}


#blackandwhite{
	font-size: 6vw;
	position:fixed;
	top:90%;
	right:0;
	width:25%;
}

#blackandwhite a{
text-decoration: none;
color:#000;
font-family:'SGR',sans-serif;
}

.navlink {
	/*display: none;
	visibility: hidden;*/
	color:#000;
}

.slash {
	display: none;
	visibility: hidden;
}

.homelink {
	padding:4%;
	position: fixed;
	width:100%;
	border-bottom: 1.5px solid #000;
/*	background-color: #fff;*/

}

.homelink a {
	font-size:5vw;
	text-decoration: none;
	color: #000;
	font-family: 'SGR', sans-serif;
	letter-spacing: 1px;
	padding-left:0%;
}


.menuhomelink {
	padding:4%;
	position: fixed;
	width:100%;
	border-bottom: 1.5px solid #000;
	background-color: #fff;

}

.menuhomelink a {
	font-size:5vw;
	text-decoration: none;
	color: #000;
	font-family: 'SGR', sans-serif;
	letter-spacing: 1px;
	

}
.quote {
	font-family: 'SGR', sans-serif;
	font-size:6vw;
	line-height: 1;

}

.bio {
	color:#000;
   line-height: 1.4;
   padding:6%;
   margin-top:20%;
   font-size:5vw;
}

.bio-body {
	column-count:1;
	letter-spacing: -0.5px;
}


.press {
	margin-top:5%;
	padding:6%;
	letter-spacing: -0.5px;
}

.disco {
	color:#000;
   line-height: 1.4;
   padding:6%;
   margin-top:20%;
   font-size:5vw;
   letter-spacing: -0.5px;
}

.title {
	font-size:5vw;
}

.subtitle {
	font-size:4.5vw;
}
.work {
	margin-top:5%;
   padding: 6%;
   letter-spacing: -0.5px;
}

.radio {
   padding: 3% 6% 6% 6%;
   letter-spacing: -0.5px;}

.bullet {
display:inline-block;
font-size:3.5vw;

}
}